.footer .van-tabbar {
  height: 100%;
  position: relative;
}

.apply .van-tabs__line {
  display: none;
}

.apply .van-hairline--top-bottom::after {
  border: none;
}

.apply .van-tabs__nav--line {
  height: .8rem;
  line-height: .8rem;
}

.apply .van-tabs__nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: .88rem;
  justify-content: center;
}

.apply .van-tab--active {
  color: #2e6eec;
  box-sizing: border-box;
  border-bottom: .03rem solid #2e6eec;
}

.apply .van-tab {
  flex: none;
  padding: 0;
  margin: 0 .4rem;
  font-weight: bold;
  font-size: .36rem;
  letter-spacing: .01rem;
}

.apply .van-tabs__wrap {
  position: absolute;
  top: .0rem;
  left: 0;
  right: 0;
  z-index: 99;
  overflow: hidden;
  height: .88rem;
}

.apply .nobor {
  border-bottom: none;
}

.apply .bor_b .van-tabs__wrap {
  border-bottom: 1px solid #edeff5;
}

.apply .van-tabs__nav--line {
  padding-bottom: 0;
}

.intention .van-tabs__line {
  display: none;
}

.intention .van-hairline--top-bottom::after {
  border: none;
}

.intention .van-tabs__nav--line {
  height: .8rem;
  line-height: .8rem;
}

.intention .van-tabs__nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: .88rem;
  justify-content: center;
}

.intention .van-tab--active {
  color: #2e6eec;
  box-sizing: border-box;
  border-bottom: .03rem solid #2e6eec;
}

.intention .van-tab {
  flex: none;
  padding: 0;
  margin: 0 .4rem;
  font-weight: bold;
  font-size: .36rem;
  letter-spacing: .01rem;
}

.intention .van-tabs__wrap {
  position: absolute;
  top: .0rem;
  left: 0;
  right: 0;
  z-index: 99;
  overflow: hidden;
  height: .88rem;
  border-bottom: 1px solid #edeff5;
}

.intention .van-tabs__nav--line {
  padding-bottom: 0;
}

.collect [class*=van-hairline]::after {
  border: none;
}

.collect .van-tabs__nav {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 .4rem;
  height: .88rem;
}

.collect .van-tabs--line .van-tabs__wrap {
  height: .88rem;
}

.collect .van-tab {
  flex: none;
  padding: 0;
  font-size: .26rem;
  color: #101d37;
  letter-spacing: .01rem;
}

.collect .van-tab--active {
  color: #2e6eec;
  height: .88rem;
  border-bottom: .02rem solid #2e6eec;
}

.collect .van-tab:nth-child(3) {
  margin-right: 0.4rem !important;
}

.collect .van-tabs__content {
  height: calc(100vh - 1.03rem);
  overflow-y: scroll;
}

.collect .van-tabs--line {
  padding-top: .88rem;
}

.collect .van-tabs__line {
  display: none;
}

.collect .van-tabs__wrap {
  position: relative;
  border-bottom: 1px solid #edeef5;
}

.bg_white .van-tabs__content {
  background-color: #fff;
}

.banner .van-swipe__indicator {
  background-color: #ffffff;
  opacity: 0.6;
  margin-bottom: .1rem;
}

.banner .van-swipe__indicator.van-swipe__indicator--active {
  background-color: #fff;
  opacity: 1;
}

.banner .van-swipe {
  border-radius: .16rem;
}

.banner .van-swipe__track {
  transition-duration: 300ms !important;
  transition-timing-function: linear;
}

.outLoginBtn .van-popup {
  width: 5.4rem;
  height: 2.53rem;
  background-color: #f7f7f7;
  opacity: 0.96;
  border-radius: .2rem;
  text-align: center;
  box-sizing: border-box;
}

.outLoginBtn .van-popup .isOutLogin {
  color: #000;
  font-size: .34rem;
  letter-spacing: .01rem;
  margin-top: .5rem;
}

.outLoginBtn .van-popup .isBtn {
  font-size: .34rem;
  margin-top: .5rem;
  display: flex;
  justify-content: space-around;
  color: #007aff;
  border-top: .01rem solid #d4d5d7;
  padding: 0 .4rem;
}

.outLoginBtn .van-popup .isBtn span {
  padding-top: .3rem;
}

.outLoginBtn .van-popup .isBtn label {
  display: inline-block;
  width: 1px;
  height: 1.05rem;
  background-color: #d4d5d7;
  vertical-align: middle;
}

.outLoginBtn .van-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
